"The TTL of the RRSIG exceeds the value of its Original TTL field"

DNSviz [complains](https://dnsviz.net/d/internautique.fr/aOaLNA/dnssec/) because "The TTL of the RRSIG (7200) exceeds the value of its Original TTL field (3600). See RFC 4035, Sec. 2.2." It seems DNSviz is right here:

```
% dig @ns4.bortzmeyer.org internautique.fr DNSKEY

; <<>> DiG 9.18.39-0ubuntu0.24.04.1-Ubuntu <<>> @ns4.bortzmeyer.org internautique.fr DNSKEY
; (2 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 56073
;; flags: qr aa rd; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 1
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags: do; udp: 1232
;; QUESTION SECTION:
;internautique.fr.	IN DNSKEY

;; ANSWER SECTION:
internautique.fr.	3600 IN	DNSKEY 257 3 15 (
				TQJyvqDGtIVNj+x1YBQmbB3j9XoU3F0GKjIQ7omIGW8=
				) ; KSK; alg = ED25519 ; key id = 15611
internautique.fr.	3600 IN	DNSKEY 256 3 15 (
				WIaKrZqGW/ZQOOFI2Vod/WQFvg55tQGwKLXrrRAfcPQ=
				) ; ZSK; alg = ED25519 ; key id = 14729
internautique.fr.	7200 IN	RRSIG DNSKEY 15 2 3600 (
				20251022151722 20251007151722 15611 internautique.fr.
				tKky/rF+XOoUZ7EU0jCLvvO+mA3hsjVLpX77sdFJZQJ6
				O8dJnI6CH9NvqXnpF5dvrml6nBa8thXG/Bpn8Ur4AQ== )

;; Query time: 7 msec
;; SERVER: 2001:4b98:dc0:41:216:3eff:fe27:3d3f#53(ns4.bortzmeyer.org) (UDP)
;; WHEN: Wed Oct 08 18:06:09 CEST 2025
;; MSG SIZE  rcvd: 253
```


Thanks @bortzmeyer,

Very appreciated, we’ll investigate.

Ximon